<% form_for([:admin, @question]) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name_short, 'Name' %><br />
    <%= f.text_field :name_short %>
  </div>
  <div class="field">
    <%= f.label :content, 'Content' %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
