<p>
  <b>Name short:</b>
  <%= @question.name_short %>
</p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>


<%= link_to 'Edit', edit_admin_question_path(@question) %> |
<%= link_to 'Delete', admin_question_path(@question), :method=>:delete %>
<%= link_to 'Back', admin_questions_path %>
